[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "vendor/piper"]
	path = vendor/piper
	url = https://github.com/OHF-Voice/piper1-gpl
